# User Settings
PUID=1000
PGID=1000

# Port set-up
SERVER_PORT=15636
QUERY_PORT=15637

# Main server settings
SERVER_NAME="Indifferent Broccoli Enshrouded Docker Server"
SLOT_COUNT=12
BETA_BRANCH=""

# Other settings
SERVER_TAGS="PvE, Survival, Indifferent Broccoli"

# Default - Configures all values to default. It is the direct continuation of how Enshrouded was configured up until update 0.7.3.0 and is the recommended setting for first-time players.
# Relaxed - The Relaxed preset reduces the amount of enemies and provides players with more resources and loot. This mode targets players who are most interested in base-building and light-hearted adventuring.
# Hard - The Hard preset increases the amount of enemies and makes them more aggressive to give players a tougher combat experience.
# Survival - The Survival preset is for those who seek some punishment with additional survival mechanics on top of more aggressive enemies.
# Custom - When Custom is selected, only then a long list of individual settings can be tweaked. 
GAME_SETTINGS_PRESET="Default"

# Player Health
# Scales the max health for players by a factor. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 4
PLAYER_HEALTH_FACTOR=1

# Player Mana
# Scales the max mana for players by a factor. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 4
PLAYER_MANA_FACTOR=1

# Player Stamina
# Scales the max stamina for players by a factor. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 4
PLAYER_STAMINA_FACTOR=1

# Player Body Heat Against Cold Weather
# Scales the max amount of available body heat in the player.  The higher the factor the longer the player can stay in very cold areas before hypothermia sets in. Allowed factor values:
# Low: 0.5
# Default: 1
# High: 1.5
# Max: 2
PLAYER_BODY_HEAT_FACTOR=1

# Diving time
# Modifies the initial amount of oxygen for players and therefore the time available underwater.
# Min value: 0.5
# Max value: 2
PLAYER_DIVING_TIME_FACTOR=1

# Weapon Durability
# If this setting is set to "false", weapons don't break anymore.
# Options: true / false
ENABLE_DURABILITY=true

# Hunger and Starvation
# Enables hunger and starvation. During starvation, the player loses health periodically until death if no food or drink is consumed.
# Options: true / false
ENABLE_STARVING_DEBUFF=false

# Food Buff Duration
# Scales food buff durations. Ingame, the factor is represented by a percentage.
# Min value: 0.5
# Max value: 2
FOOD_BUFF_DURATION_FACTOR=1

# Hungry State Duration
# This setting controls the length of the hungry state before the starving sets in. The unit in this setting is nanoseconds. Ingame the time is displayed in minutes.
# Min value: 5 minutes
# Max value: 20 minutes
FROM_HUNGER_TO_STARVING=600000000000

# Shroud Time Duration Modifier
# Scales how long player characters can remain within the Shroud. Ingame, the factor is represented by a percentage.
# Min value: 0.5
# Max value: 2
SHROUD_TIME_FACTOR=1

# The players can either keep or lose all items from their backpack when dying. In the default setting, they only lose materials. Lost items are stored in a tombstone and can be recovered there.
# Options: AddBackpackMaterials / Everything / NoTombstone
TOMBSTONE_MODE="AddBackpackMaterials"

# Air Turbulence While Gliding
# If turned off, the glider will not be affected by air turbulences, just as in previous versions of the game.
# Options: true / false
ENABLE_GLIDER_TURBULENCES=true

# Weather Phenomena Frequency
# This setting allows defining how often new weather phenomena appear in the game world.
# Options: Disabled / Rare / Normal / Often
WEATHER_FREQUENCY="Normal"

# Fishing difficulty
# This setting defines the strength of the fish during the fishing minigame. The stronger a fish is, the longer the minigame will proceed.
# Options: VeryEasy, Easy, Normal, Hard, VeryHard
FISHING_DIFFICULTY="Normal"

# Mining Effectiveness
# This scales the mining damage. A higher mining damage leads to increased terraforming and more yield of resources per hit. Ingame, the factor is represented by a percentage.
# Min value: 0.5
# Max value: 2
MINING_DAMAGE_FACTOR=1

# Plant Growth Speed
# Scales the value of the plant growth speed. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 2
PLANT_GROWTH_SPEED_FACTOR=1

# Resources Gain Modifier
# Scales the amount of materials per loot stack in chests, defeated enemies etc. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 2
RESOURCE_DROP_STACK_AMOUNT_FACTOR=1

# Workstation Effectiveness
# Scales the length of production times for workshop items. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 2
FACTORY_PRODUCTION_SPEED_FACTOR=1

# Weapon Recycling Yield Modifier
# Scales the amount of Runes that are returned to you when salvaging upgraded weapons. Ingame, the factor is represented by a percentage.
# Min value: 0
# Max value: 1
PERK_UPGRADE_RECYCLING_FACTOR=0.500000

# Weapon Upgrading Costs
# Scales the amount of Runes required for upgrading weapons. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 2
PERK_COST_FACTOR=1

# Combat Experience Modifier
# Scales the amount of XP received through combat. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 2
EXPERIENCE_COMBAT_FACTOR=1

# Mining Experience Modifier
# Scales the amount of XP received by mining resources. Ingame, the factor is represented by a percentage.
# Min value: 0
# Max value: 2
EXPERIENCE_MINING_FACTOR=1

# Exploration Experience Modifier
# Scales the amount of XP received by exploring and completing quests. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 2
EXPERIENCE_EXPLORATION_QUESTS_FACTOR=1

# Enemy Amount
# This setting controls the amount of enemies in the world. 
# Options: Few / Normal / Many / Extreme
RANDOM_SPAWNER_AMOUNT="Normal"

# Modifier for Simultaneous Enemy Attacks
# This setting controls how many enemies are allowed to attack at the same time. Ingame, the factor is represented by a percentage.
# Options: Few / Normal / Many / Extreme
AGRRO_POOL_AMOUNT="Normal"

# Enemy Damage
# Scales all enemy damage by this value - except for bosses. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 5
ENEMY_DAMAGE_FACTOR=1

# Enemy Health
# Scales all enemy health by this value - except for bosses. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 4
ENEMY_HEALTH_FACTOR=1

# Enemy Stun Modifier
# Scales all enemy stamina by this value. It will take longer to stun enemies with a higher enemy stamina. This excludes bosses. Ingame, the factor is represented by a percentage.
# Min value: 0.5
# Max value: 2
ENEMY_STAMINA_FACTOR=1

# Enemy Perception Modifier
# Scales how far enemies can see and hear the player. This excludes bosses. Ingame, the factor is represented by a percentage.
# Min value: 0.5
# Max value: 2
ENEMY_PERCEPTION_RANGE_FACTOR=1

# Boss Damage Modifier
# This setting scales the damage of boss attacks. Ingame, the factor is represented by a percentage.
# Min value: 0.2
# Max value: 5
BOSS_DAMAGE_FACTOR=1

# Boss Health Modifier
# Scales all health of bosses by this value. Ingame, the factor is represented by a percentage.
# Min value: 0.2
# Max value: 5
BOSS_HEALTH_FACTOR=1

# Enemy Attacks Modifier
# Scales the frequency of enemy attacks. This excludes bosses. Ingame, the factor is represented by a percentage.
# Min value: 0.25
# Max value: 4
THREAT_BONUS=1

# Pacified Enemies
# If turned on, enemies won't attack the players until they are attacked. This excludes bosses.
# Options: true / false
PACIFY_ALL_ENEMIES=false

# Taming Failure Repercussions
# This setting allows defining how the game reacts when the player startles the wildlife during taming. Progress is visualized by hearts in the game.
# Options: KeepProgress / LoseSomeProgress / LoseAllProgress
TAMING_STARTLE_REPERCUSSION="LoseSomeProgress"

# Daytime
# Scales the length of daytime. A smaller value equals shorter daytime. The unit is nanoseconds. Ingame, the time is displayed in minutes.
# Min value (2 minutes) : 120000000000
# Max value (60 minutes) : 3600000000000
DAYTIME_DURATION=1800000000000

# Nighttime
# Scales the length of daytime. A smaller value equals a shorter nighttime. The unit is nanoseconds. Ingame, the time is displayed in minutes.
# Min value (2 minutes) : 120000000000
# Max value (60 minutes) : 3600000000000
NIGHTTIME_DURATION=720000000000

# Modify Shroud Curse
# This setting allows switching the Shroud curse off or modifying the chance for receiving the curse when being attacked by the corresponding enemies.
# Options: Easy (which turns the feature off) / Normal / Hard (which doubles the chance relative to normal)
CURSE_MODIFIER="Normal"

# User Groups
# Form: name,password,canKickBan,canAccessInventories,canEditWorld,canEditBase,canExtendBase,reservedSlots;...
#USER_GROUPS="Default,oypVuxWX,false,true,true,true,true,0"