# User Settings
PUID=1000
PGID=1000

# Update settings
UPDATE_ON_START=true

# Port set-up
QUERY_PORT=15637

# Main server settings
SERVER_NAME="Indifferent Broccoli Enshrouded Docker Server"
MAX_PLAYERS=12
SERVER_PASSWORD=""
